@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    color: #000000;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
@layer base{
    body{
        @apply bg-primary
    }
}

@keyframes load-animation {

    0%,
    10% {
        opacity: 0;
    }

    90%,
    100% {
        opacity: 1;
    }
}

@layer components {
    .max-container {
        max-width: 1440px;
        margin: 0 auto;

        @media (min-width: 1536px) {
            max-width: 1920px;
        }
    }
}